name: PR Agent
on:
  pull_request_target:
    types: [opened, reopened, ready_for_review]
  workflow_dispatch:
    inputs:
      pr_number:
        description: PR number to review
        required: true
        type: string
jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    name: Run PR Agent on PRs and comments
    steps:
      - name: PR Agent action step
        id: pragent
        uses: qodo-ai/pr-agent@main
        env:
          OPENAI_KEY: ${{ secrets.OPENAI_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_AGENT_CONFIG: |
            model: gpt-5-mini
            review:
              inline_comments: true
              max_review_comments: 30
        with:
          pr_number: ${{ inputs.pr_number }}


